# 1.Explain the key features of Python that make it a popular choice for programming.

1. easy to understand and code
2. easily run on any operating system
3. have manay libraries
4. codding is like simple english language and syntax is easy to code and undertand
5. widely use in machine learning model

# 2.Describe the role of predefined keywords in python and provide examples of how they are used in a program.

In [61]:
#Printing keyword list
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [62]:
#if else

a=1
if a>0:
    print("positive number")
else:
    print("Negative number")

positive number

In [63]:
# True, False, and
True and False

False

In [64]:
#not
not True

False

In [65]:
# True, False, or
True and False

False

In [66]:
#breck used to breck loop and exist from loop(for ,while)
for i in range(0,10):
    if i==8:
        break
    print(i)

0
1
2
3
4
5
6
7

In [67]:
#continue used to skip that itteration in loop(for , while)
for i in range(0,16):
    if i==10:   #skipthis valse and print
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
11
12
13
14
15

# 3. compare and contrast mutable and immutable objects in python with examples.


Mutable objects in python are:
1. List
2. set
3. Dictionary


immutable objects in python are:
1. tuple 
2. string

In [68]:
# List
list=[1,22,33]
list.insert(1,0)
list.remove(22)
print(list)

[1, 0, 33]

In [69]:
#tuple
tuple=(1,2,3)
#tuple.inset(1)  # cant insert or any update operation perform
print(tuple)

(1, 2, 3)

In [70]:
#Set - duplicates not allowed,mutable
set={1,"apple","cat",100}
set.add(22)
print(set)

{1, 'apple', 100, 'cat', 22}

In [71]:
#Dictionary
dic ={
    "student" :"Supriya",
    "roll_no":"101",
    "class":"12"
}
dic["rank"]="first class"
print(dic)

{'student': 'Supriya', 'roll_no': '101', 'class': '12', 'rank': 'first class'}

# 4.Discuss different types of operators in python and provide examples of how they are used.

1.Arrithmetic operaters:
  1.1  Addition
  1.2  Sunstraction
  1.3 Multiplication
  1.4 Substraction
  1.5 floor divion
  1.6 Modulas
  1.7 Exponentional
 
2.Comparison operaters:
  2.1 Is equal to
  2.2 Is not equal to
  2.3 greater than
  2.4 less than
  2.5 graeter than or equal to
  2.6 less than or equal to
  
3.Logical operators
  3.1 AND 
  3.2 OR
  3.3 NOT

4.Identity operators:
  4.1 IS
  4.2 IS NOT
  
5.Membership operater:
  5.1 IN
  5.2 Not IN
  
6.Bitwise operaters - compair binary numbers:
  6.1 AND
  6.2 OR
  6.3 NOT
  6.4 XOR

In [72]:

#Additon +
x=10
y=7
print(x+y)

17

In [73]:
#Subtraction
print(x-y)

3

In [74]:
#Multiplication
print(x*y)

70

In [75]:
#Division
print(x/y)

1.4285714285714286

In [76]:
#floor divion
print(x//y)

1

In [77]:
#Modulas
print(x%y)

3

In [78]:
#Exponentional
print(x**y)

10000000

In [79]:
#Comparison operaters
#==
a=1
b=2
print(a==b)

False

In [80]:
#!=
print(a!=b)

True

In [81]:
#>
a=10
b=30
b>a

True

In [82]:
#<
a<b

True

In [83]:
#<=
for i in range(0,5):
    if i<=3:
        print(i)

0
1
2
3

In [84]:
#>=
x=3
y=7
y>=x

True

In [85]:
#Logical operaters
#and,or ,not

#and - both are true then only output is true
True and True

True

In [86]:
True and False

False

In [87]:
#or # returns true when any one is true
False or True

True

In [88]:
# not - reverse the condition
not True

False

In [89]:
#identity operaters
#is
# is not

x=10
b=20
x is b

False

In [90]:
x is not b

True

In [91]:
# Membership operater
# in
#not in

list=[1,2,3]
1 in list

True

In [92]:
88 not in list

True

In [93]:
#Bitwise operaters - compair binary numbers
# &
print(3&2)

2

In [94]:
#|
print(7 | 9)

15

In [95]:
#XOR
print(30^2)

28

In [96]:
#NOT
print(~5)

-6

# 5.Explain the concept of type casting in python with examples

In [97]:
#Implicit - python convert one datatype into another data type automaticaly,no any user interface
x=20
type(x)

int

In [98]:
#Explicite - user assign data type
a=int("77")
type(a)

int

# 6.How do condiional statements work in python?Illustrate with examples.

In [99]:
# if statement
a=10
if a >0 :
    print("Positive number")

Positive number

In [100]:
#if else statement
a=-1
if a>0 :
    print("Positive number")
else:
    print("Negative Number ")

Negative Number

# 7.Desribe the different types of loops in python and their use cases with examples

In [101]:
#for loop
for i in range(0,10):
    if i%2==0:
        print(i)

0
2
4
6
8

In [102]:
#while loop
i=1
while i<10 :
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9